// Default styles
* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: $HEADER_FONT;
  font-size: 30px;
  padding: $PADDING_DEFAULT;
}

h2 {
  text-align: center;
  font-family: $HEADER_FONT;
  font-size: 20px;
  padding-top: $PADDING_DEFAULT;
  padding-bottom: $PADDING_DEFAULT;
}

h3 {
  text-align: left;
  font-family: $HEADER_FONT;
  font-size: 16px;
  padding-top: $PADDING_DEFAULT;
  padding-left: $PADDING_DEFAULT;
}

p {
  padding: $PADDING_DEFAULT;
  padding-top: $PADDING_DEFAULT / 2;
  padding-bottom: $PADDING_DEFAULT / 2;
  font-family: $FONT_DEFAULT;
  text-align: justify;
}


body {
  width: 100%;
  height: 100%;
  background: no-repeat center center fixed;
  background-color: $DARK_GRAY;
  background-size: cover;
  -webkit-box-shadow: inset 1px 9px 140px 17px rgba(0,0,0,0.38);
  -moz-box-shadow: inset 1px 9px 140px 17px rgba(0,0,0,0.38);
  box-shadow: inset 1px 9px 140px 17px rgba(0,0,0,0.38);
}

@mixin material-shadow ($size: 1) {
  -webkit-box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.45);
  -moz-box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.45);
  box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.45);
}
