// Dimensions
$PADDING_DEFAULT: 15px;
$CONTENT_WIDTH: 1140px;
$BREAKPOINT_SMALL: 570px;

// Fonts
$HEADER_FONT: 'Bungee Inline', cursive;
$FONT_DEFAULT: 'Open Sans', sans-serif;

// Colors
$FLAT_ORANGE: #E66A39;
$DARK_GRAY: #353C3E;
$CARD_GRAY: #Efffff;

$MAIN_BLACK: #1C2021;
$HIGHLIGHT_RED: #E60501;
$HIGHLIGHT_YELLOW: #F7D00D;
