// Dimensions
$PADDING_DEFAULT: 15px;
$CONTENT_WIDTH: 1140px;
$BREAKPOINT_SMALL: 570px;

// Fonts
$HEADER_FONT: 'Passion One', cursive;
$FONT_DEFAULT: 'Open Sans', sans-serif;

// Colors
$DARK_GRAY: #303030;
$CARD_GRAY: #Efffff;

$MAIN_BLACK: #303030;
$HIGHLIGHT_RED: #F4383E;
$HIGHLIGHT_YELLOW: #FFE578;
