.content__bread {
  padding: $PADDING_DEFAULT;

  table {
    @include material-shadow;
    background-color: $CARD_GRAY;
    font-family: $FONT_DEFAULT;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  th {
    font-family: $HEADER_FONT;
    padding: $PADDING_DEFAULT;
    background-color: $HIGHLIGHT_RED;
  }
  td {
    padding: $PADDING_DEFAULT;
  }
}