.enroll-link {
  font-family: $HEADER_FONT;
  margin-left: auto;
  margin-right: auto;
  color: $HIGHLIGHT_RED;

  &__container {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.content__bread {
  padding: $PADDING_DEFAULT;

  &--schedule {
    table {
      margin-bottom: 50px;
    }
    td {
      border-bottom: 1px solid lightgray;    
    }
    td:first-child {
      min-width: 200px;
      font-weight: 900;
    }

    td:last-child {
      min-width: 200px;
      font-weight: 900;      
    }
  }

  table {
    @include material-shadow;
    background-color: $CARD_GRAY;
    font-family: $FONT_DEFAULT;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  th {
    font-family: $HEADER_FONT;
    padding: $PADDING_DEFAULT;
    background-color: $HIGHLIGHT_RED;
  }
  td {
    padding: $PADDING_DEFAULT;
  }
}

@media (max-device-width: 600px) {
  .content__bread {
    padding: 0;

    &--schedule {
      td:first-child {
        min-width: initial;
        font-weight: 900;
      }

      td:last-child {
        min-width: initial;
        font-weight: 900;      
      }
    }
    
    table {
      width: 100%;
    }
  }
}

.content__store {
  width: 100%;
  text-align: center;

  &__link {
    display: inline-block;
    vertical-align: middle;
    padding: 30px;

    &__image {
      height: 100px;
      width: 100px;
    }
  }
}