<!doctype html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <meta name="theme-color" content="#E60501">
</head>
<body style="background-image: url(assets/background.jpg)">
  <div class="container">
    <header class="header">
      <ul class="navigation">
      {{#each links as |link|}}
        <a href={{linkUrl link}} id={{linkUrl link}} class="navigation__link"><li>{{link}}</li></a>
      {{/each}}
      </ul>
    </header>
    <div class="content">
      {{#if submenu}}
        <ul class="sub-menu">
          {{#each submenu as |sublink|}}
            <a href={{linkUrl sublink}} id={{linkUrl sublink}} 
              class="navigation__link"><li>{{sublink}}</li></a>
          {{/each}}
        </ul>
      {{/if}}
      <img class="watermark" src="assets/leima.png"/>
      <div class="content__bread  {{#if schedule}} content__bread--schedule{{/if}}">{{{contents}}}</div>
    </div>
    <div class="sponsors">
      <h2>Jouluristeilyllä mukana:</h2>
      <a href="http://www.loimu.fi"><img class="sponsors__sponsor sponsors__sponsor--shadowed" src="assets/loimu.png"></a>
    </div>
    <footer class="footer">
      Copyright 2017, After Lectury ry
    </footer>
  </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-85415877-1', 'auto');
    ga('send', 'pageview');

  </script>
<script type="text/javascript" src="bundle.min.js"></script>
</body>
</html>
