<!doctype html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Open+Sans" rel="stylesheet">
</head>
<body style="background-image: url(assets/background.jpg)">
  <div class="container">
    <div class="header">
      <ul class="navigation">
      {{#each links as |link|}}
        <a href={{linkUrl link}} id={{linkUrl link}} class="navigation__link"><li>{{link}}</li></a>
      {{/each}}
      </ul>
    </div>
    <div class="content">
      {{#if submenu}}
        <ul class="sub-menu">
          {{#each submenu as |sublink|}}
            <a href={{linkUrl sublink}} id={{linkUrl sublink}} class="navigation__link"><li>{{sublink}}</li></a>
          {{/each}}
        </ul>
      {{/if}}
      <img class="watermark" src="assets/leima.png"/>
      <div class="content__bread">{{{contents}}}</div>
    </div>
    <div class="footer">
    <img class="footer__sponsor" src="assets/lal.png">
    <img class="footer__sponsor footer__sponsor--shadowed" src="assets/ykl.jpg">
    <img class="footer__sponsor footer__sponsor--shadowed" src="assets/MHL.jpg">
    </div>
  </div>
<script type="text/javascript" src="bundle.min.js"></script>
</body>
</html>